<h1>Show a Single Movie</h1>

<h2><%= @movie[":title"] %></h2>
<h2><strong>Rating: </strong><%=@movie[":rating"] %></h2>

<%# go back to the previous page %>
<%= link_to "Back", :back %>
<%= link_to "Main List", "/movies" %> 
