<div class=pokedex_page>
    <img class=pika src="/assets/pikachu.png" alt="Hey Dumbass, you put the pic in the wrong place!">
    <%= render "shared/top_nav"%>
    <img class=poke_bg src="/assets/pokemon.png" alt="Hey Dumbass, you put the pic in the wrong place!">
</div>