<div class="go_back">
    <h1>Wrong entry Try again</h1>
    <h3 class=back><%= link_to "Back", :back %></h3>
    <img src="/assets/pika.gif" alt="Hey Dumbass, you put the pic in the wrong place!">
</div>