<form action="/" method="POST">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">
    <label><h3>Search Pokemon</h3></label>
    <input type="text" name="pokemon-name">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
